<div class="wrapper-landing">
  <div class="content-landing">
    <div class="content-landing-header">
      <img src="assets/images/logo.png">
      <div class="section-menu">
        <a class="screen" (click)="navigateToCharacters()">Personajes</a>
        <a class="screen" (click)="navigateToPlaces()">Lugares</a>
        <a class="screen" (click)="navigateToEpisodes()">Episodios</a>
      </div>
    </div>
    <div class="content-landing-body">
      <div class="content-text">
        <span>Toma el Portal: Descubre un Universo de Locura con Rick and Morty</span>
        <span>
         "Embárcate en una aventura interdimensional con Rick and Morty. Descubre mundos desconcertantes,
          personajes peculiares y el caos cósmico. ¿Estás listo para desafiar las leyes de la realidad?"
        </span>
      </div>
      <div class="content-image">
        <img src="assets/images/imagen-5.png">
      </div>
    </div>
  </div>
</div>
