.wrapper-characters {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background: theme-palette-color('background', 'primary');
  font-family: "Roboto Condensed";

  .content-characters {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;


    .content-characters-header {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 32px;

      img {
        width: 200px;
        height: 100%;
      }

      .section-menu {
        width: 580px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

        .screen {
          width: 180px;
          padding: 10px;
          border: 1px solid white;
          border-radius: 16px;
          font-size: 16px;
          color: theme-palette-color('color', 'primary');
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background: theme-palette-color('color', 'primary');
            color: theme-palette-color('background', 'primary');
          }
        }
      }
    }

    .content-characters-body {
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      padding-bottom: 30px;
      overflow: auto;
    }

    .content-characters-body::-webkit-scrollbar {
      display: none;
    }
  }
}
