.wrapper-characters {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-image: url('https://i.pinimg.com/originals/93/01/25/9301258942733e3725f2757c18d1c441.jpg');
  background-size: cover;
  background-position: center;
  font-family: "Roboto Condensed";
  object-fit: contain;

  .content-characters {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    .content-characters-header {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 32px;

      img {
        width: 200px;
        height: 100%;
      }

      .section-menu {
        width: 580px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

        .screen {
          width: 180px;
          padding: 10px;
          border: 1px solid white;
          border-radius: 16px;
          font-size: 16px;
          color: white;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background: white;
            color: theme-palette-color('background', 'primary');
          }
        }
      }
    }

    .content-characters-body {
      width: 100%;
      height: 80%;
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      overflow: auto;
    }

    .content-characters-body::-webkit-scrollbar {
      display: none;
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 5%;

      span{
        padding: 0 20px;
        font-size: 18px;
        color: white;
        font-weight: 600;
      }

      button {
        border-radius: 4px;
        font-size: 14px;
        background-color: #50b7b4;
        color: white;
        border: none;
        display: flex;
        padding: 10px;
        justify-content: center;
        min-width: 80px;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: #50b7b4;
        }
      }
    }


  }
}
