.wrapper-places {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-image: url('https://i.pinimg.com/originals/93/01/25/9301258942733e3725f2757c18d1c441.jpg');
  background-size: cover;
  background-position: center;
  font-family: "Roboto Condensed";
  object-fit: contain;

  .content-places {
    width: 100%;
    height: 100%;
    padding: 20px;

    .content-places-header {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 32px;

      img {
        width: 200px;
        height: 100%;
      }

      .section-menu {
        width: 580px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

        .screen {
          width: 180px;
          padding: 10px;
          border: 1px solid white;
          border-radius: 16px;
          font-size: 16px;
          color: white;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background: white;
            color: theme-palette-color('background', 'primary');
          }
        }
      }
    }

    .content-places-body {
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .content-places {
        width: 80%;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-text-places {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;


          span {
            font-size: 20px;
            color: white;

            &:first-child {
              font-size: 32px;
            }
          }
        }
      }

      .places {
        width: 80%;
        height: 80%;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;


        .place {
          width: 160px;
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid theme-palette-color('grays', 400);
          background: theme-palette-color('grays', 500);
          text-align: center;
          flex-direction: column;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border-radius: 6px;
          cursor: pointer;

          &:hover {
            background: white;
            color: theme-palette-color('background', 'primary');
            transform: scale(1.05);

            span {
              color: theme-palette-color('background', 'primary');
            }
          }

          span {
            color: white;
            padding-top: 10px;
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 5%;

      span {
        padding: 0 20px;
        font-size: 18px;
        color: white;
        font-weight: 600;
      }

      button {
        border-radius: 4px;
        font-size: 14px;
        background-color: #50b7b4;
        color: white;
        border: none;
        display: flex;
        padding: 10px;
        justify-content: center;
        min-width: 80px;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: #50b7b4;
        }
      }
    }

  }
}

