<div class="wrapper-characters">
  <div class="content-characters">
    <div class="content-characters-header">
      <img src="../../../../assets/images/logo.png" routerLink="/">
      <div class="search-bar">
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange($event)" placeholder="Buscar personajes">
        <button (click)="onSearchChange($event)" type="submit">
          <em class="icon-search"></em>
        </button>
      </div>
      <div class="section-menu">
        <a class="screen" (click)="navigateToCharacters()">Personajes</a>
        <a class="screen" (click)="navigateToPlaces()">Lugares</a>
        <a class="screen" (click)="navigateToEpisodes()">Episodios</a>
      </div>
    </div>
    <div class="content-characters-body">
      <app-card *ngFor="let character of dataCharacters"
                [CardData]="character"
                (click)="characterDetail(character.id)">
      </app-card>
    </div>
    <div class="pagination">
      <button (click)="prevPage()">Anterior</button>
      <span>{{ currentPage }}</span>
      <button (click)="nextPage()">Siguiente</button>
    </div>
  </div>
</div>

